body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.no-padding {
	padding: 0;
}

.add-margin {
	margin: 0 15px;
}

.add-margin-tb {
	margin: 15px 0;
}

.alert-badge {
	background-color: #b94a48;
}